
body {
	color: #000000;
	background-color: #eeeeee;
	margin: 0;
	padding: 0px;
	font-family: "Helvetica Neue", Arial;
	font-weight: lighter;
	font-size: 16px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 30px;
}

h2 {
	padding-top: 20px;
}

a {
	text-decoration: none;
}

a:link {color:#000000;}      /* unvisited link */
a:visited {color:#aa0000;}  /* visited link */
a:hover {color:#ee0000;}  /* mouse over link */
a:active {color:#aa0000;}  /* selected link */

.answer {
	font-weight: bold;
	color: #ee0000;
}

#content {
	width: 720px;
	margin: 0 auto;
	padding: 25px 50px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(00, 00, 00, 1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(00, 00, 00, 1);
	box-shadow: 0px 0px 15px 0px rgba(00, 00, 00, 1);
}

label {
	display: inline-block;
	width: 225px;
}

.errorMsg {
	color: #ee3c1c;
}

div.nextQuestion {
	float: right;
}
