#analyzer-settings,
#analysis-results {
    margin-top: 20px;
}
#map-area-container {
    width:470px;
    height:470px;
}
#map-area {
    width:470px;
    height:470px;
    position: fixed !important;
}
#map-area img { max-width:none; }
#data-set-1 .span2,
.select2-container.span2 {
    margin-left: 0;
}

#pearson-accuracy-slider,
#zone-size-slider,
#absolute-pearson-range-slider {
    margin-top: 3px;
    margin-left: 15px;
}

#pearson-accuracy-value,
#zone-size-value,
#absolute-pearson-range-value-1 {
    margin-left: 0;
}

/*#absolute-pearson-range-value-2 {*/
    /*margin-left: 5px;*/
/*}*/

#data-table-controls
.control-group
{
width:470px;
}
.span0 { width: 30px; }
/*.section { margin-bottom: 15px; }*/
h2 { margin-bottom: 20px; }
.slider-container { padding-top: 10px; }
.sortable {
    background-color: #f4f4f4;
    width: 125px;
}
.sort-icon {
    /*background-color: #f4f4f4; */
    width: 14px;
    height: 14px;
    float: right;
    display: block;
    background: url('/static/img/glyphicons-halflings.png') no-repeat -430px -119px;
}
.sortable:hover { cursor: pointer; }
#loading-analysis-results {
    margin-bottom: 10px;
    display: none;
}
h2 a, h2 {
    color: #0088CC;
}

.icon-question-sign{
    background-image: url('/static/img/glyphicons-halflings-darkblue.png');
    margin: 0 5px;
}
.help-block-data-set-name {
    display: none;
}

#toggleAnalyse,
#toggleFilter {
    margin-top:5px;
    cursor:pointer;
    float: right;
}

tr.highlighted {
    background-color: #08C;
    color: #fff;
}

.table tbody tr.highlighted:hover td {
    background-color: transparent;
}

tr.highlighted td:nth-child(3){
    color: #000;
}

#analysis-results tr:hover {
    cursor: pointer;
}

#resultaten h2{
    margin-bottom: 0;
}

#info-container {
    background-color: #FFF;
    padding-top: 15px;
    width: 670px;
    border-bottom: none 1px #DDD;
}