#analyzer-settings,
#analysis-results {
    margin-top: 20px;
}
#map-area-container {
    float:left;
    width:470px;
    height:470px;
}
#map-area {
    width:470px;
    height:470px;
    position: fixed !important;
}
#map-area img { max-width:none; }

#data-set-1 .span2,
.select2-container.span2
 {
    margin-left: 0;
}

#pearson-accuracy-slider,
#zone-size-slider {
    margin-top: 3px;
    margin-left: 15px;
}

.span0 { width: 30px; }
.section { margin-bottom: 40px; }
.section h2 { margin-bottom: 20px; }
.slider-container { padding-top: 10px; }
.sortable { background-color: #f4f4f4; }
.sort-icon {
    /*background-color: #f4f4f4; */
    width: 14px;
    height: 14px;
    float: right;
    display: block;
    background: url('/static/img/glyphicons-halflings.png') no-repeat -430px -120px;
}
.sortable:hover { cursor: pointer; }