{% extends "base.html" %}

{% block content %}
{% if message %}
<div class="alert alert-error">
    <h4 class="alert-heading">Analyse is niet gelukt.</h4>
    <p>{{ message }}</p>
</div>
{% endif %}
<div class="row">
    <div class="span5">
        <div id="map-area-container">
            <div id="map-area"></div>
        </div>
    </div>
    <div class="span7 section">
        <h2><a name="analyse">Analyse</a></h2>
        <form class="form-horizontal" id="analyzer-settings">
            <fieldset>
                <legend>Algemeen</legend>
                <div class="control-group">
                    <label class="control-label" for="pearson-accuracy-slider">Pearsons nauwkeurigheid</label>
                    <div class="controls  slider-container">
                        <div><span id="pearson-accuracy-value" class="span0">0</span></div>
                        <div id="pearson-accuracy-slider" class="span3"></div>
                    </div>
                    </div>
                <div class="control-group">
                    <label class="control-label" for="zone-size-slider">Zone grootte</label>
                    <div class="controls slider-container">
                        <div><span id="zone-size-value" class="span0">0</span></div>
                        <div id="zone-size-slider" class="span3"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Datasets</legend>
                    <!-- Data set 1 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-1">Data set 1</label>
                    <div class="controls">
                        <select id="data-set-1" class="span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-1" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
                <!-- Data set 2 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-2">Data set 2</label>
                    <div class="controls">
                        <select id="data-set-2" class="span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-2" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
                <!-- Data set 3 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-3">Data set 3</label>
                    <div class="controls">
                        <select id="data-set-3" class="span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-3" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="control-group">
                <input id="start-analysis" class="btn btn-primary" type="button" value="Analyseer">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="span5">
        <div id="data-table-controls-container">
            <div id="data-table-controls"></div>
        </div>
    </div>
    <div class="span7 offset5 section">
        <h2><a name="resultaten">Resultaten</a></h2>
        <img id="loading-analysis-results" class="loading" src="/static/img/spinner.gif" alt="loading">
        <table class="table table-bordered" id="analysis-results">
            <thead>
            <tr>
                <th>#</th>
                <th>Serie 1</th>
                <th>Serie 2</th>
                <th class="sortable">Correlatie<span class="sort-icon"></span></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/select2.js"></script>
    <script src="/static/js/inflab.js"></script>
    <script type="text/javascript">
        $(window).ready(function(){
            initAnalysisPage();
        })
    </script>
{% endblock %}