{% extends "base.html" %}

{% block content %}
{% if message %}
<div class="alert alert-error">
    <h4 class="alert-heading">Analyse is niet gelukt.</h4>
    <p>{{ message }}</p>
</div>
{% endif %}
<div class="row">
    <div class="span7 section" id="analyseContainer">
        <h2>Analyse<button class="btn" id="toggleAnalyse">Verberg</button></h2>
        <form class="form-horizontal" id="analyzer-settings">
            <fieldset>
                <legend>Algemeen</legend>
                <div class="control-group">
                    <label class="control-label" for="pearson-accuracy-slider">Pearsons nauwkeurigheid

                    </label>
                    <div class="controls slider-container">
                        <div><span id="pearson-accuracy-value" class="span0">0</span></div>
                        <div id="pearson-accuracy-slider" class="span3"></div>
                    </div>
                    <i class="icon-question-sign" rel="popover"
                       data-original-title="Uitleg"
                       data-content="Tijdens het berekenen van de correlatie tussen twee soorten objecten, wordt het
                       gebied dat wordt bestudeerd opgedeeld in kleinere vlakken. Deze slider bepaalt in hoeveel vlakken
                       het gebied wordt verdeeld.<br />
                       Bij een te lage waarde zal het lijken alsof alles een sterke correlatie heeft. Bij een te hoge
                       waarde zullen er geen of uitsluitend negatieve correlaties gevonden worden.<br />
                       De ideale waarde zal per gebied en per dataset verschillen. In het geval van een groter gebied
                       mag de waarde hoger zijn. In het geval van een dataset met weinig objecten kan de waarde beter
                       wat lager zijn.">
                    </i>
                </div>
                <div class="control-group">
                    <label class="control-label" for="zone-size-slider">Aantal zones</label>
                    <div class="controls slider-container">
                        <div><span id="zone-size-value" class="span0">0</span></div>
                        <div id="zone-size-slider" class="span3"></div>
                    </div>
                    <i class="icon-question-sign" rel="popover"
                       data-original-title="Uitleg"
                       data-content="Voor iedere combinatie van objecten wordt de correlatie over het gehele gebied
                       berekend èn binnen kleinere zones. Zo kan bekeken worden of bepaalde zones een afwijking vertonen
                       ten opzichte van het gehele gebied. Deze slider bepaald in hoeveel zones het gebied wordt verdeeld.">
                    </i>
                </div>
            </fieldset>
            <fieldset>
                <legend>Datasets
                    <i class="icon-question-sign" rel="popover"
                       data-original-title="Uitleg"
                       data-content="Een dataset vertegenwoordigt een verzameling objecten van een bepaald soort,
                       bijvoorbeeld speeltoestellen, verkeersborden of civiele kunstwerken. Kies hier één tot drie
                       datasets waarin èn waartussen je opzoek wilt naar correlaties.<br/><br/>
                       Ieder object heeft een reeks attributen, zoals materiaal, type of status. Kies één of meerdere
                       attributen waartussen je opzoek wilt naar correlaties.">
                    </i>
                </legend>
                <!-- Data set 1 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-1">Data set 1</label>
                    <div class="controls">
                        <select id="data-set-1" class="data-set-selector span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-1" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
                <!-- Data set 2 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-2">Data set 2</label>
                    <div class="controls">
                        <select id="data-set-2" class="data-set-selector span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-2" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
                <!-- Data set 3 -->
                <div class="control-group">
                    <label class="control-label" for="data-set-3">Data set 3</label>
                    <div class="controls">
                        <select id="data-set-3" class="data-set-selector span2">
                            <option></option>
                        </select>
                        <select id="attributes-data-set-3" class="span3" multiple="multiple">
                            <option></option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="control-group">
                <input id="start-analysis" class="btn btn-primary" type="button" value="Analyseer">
            </div>
        </form>
    </div>
    <div class="span5">
        <div style="position: fixed;">
            <h2>Filter resultaten<button  class="btn" id="toggleFilter">Verberg</button></h2>
            <div id="data-table-controls-container" class="form-horizontal">
            <div id="data-table-controls">
                <div id="pearson-slider-control-group" class="control-group">
                    <label class="control-label" for="absolute-pearson-range-slider">
                        <i class="icon-question-sign" rel="popover"
                           data-original-title="Uitleg"
                           data-content="Met deze dubbele slider kan een bereik aangegeven worden van correlaties die in
                       de resultaten tabel getoond moeten worden. De linker knop geeft de minimum correlatie aan die
                       getoond moet worden, de rechter knop geeft de maximum correlatie aan.<br />
                       De slider loopt van 0 tot 1. Het bereik geldt voor zowel positieve als negatieve verbanden.
                       Dus een bereik van 0,5 to 0,8 toont zowel verbanden van 0,6 als van -0,7.">
                        </i>
                        Absolute Pearsons bereik</label>
                    <div class="controls slider-container">
                        <span id="absolute-pearson-range-value-1" class="span0">0</span>
                        <div id="absolute-pearson-range-slider" class="span2"></div>
                        <span id="absolute-pearson-range-value-2" class="span0">0</span>
                    </div>
                </div>
            </div>
        </div>
        <h2>Kaart</h2>
        <div id="map-area-container">
            <div id="map-area"></div>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span7 section">
        <h2>Resultaten</h2>
        <div id="comb-info-container">Klik op een rij in de tabel om meer informatie over de combinatie te zien.</div>
        <div id="zone-info-container"></div>
        <div id="loading-analysis-results" ><img class="loading" src="/static/img/spinner.gif" alt="loading"></div>
        <table class="table table-bordered" id="analysis-results">
            <thead>
            <tr>
                <th>Groep 1</th>
                <th>Groep 2</th>
                <th class="sortable">Correlatie
                    <i class="icon-question-sign" rel="popover"
                       data-original-title="Uitleg"
                       data-content="De correlatie tussen twee type objecten wordt uitgedrukt in een getal tussen -1 en 1.<br />
                        Een correlatie van 1 geeft aan dat er een sterk verband is tussen twee type objecten.
                        Bijvoorbeeld: in de buurt van een Speeltoestel van het Type Combirek is er altijd een
                        Speeltoestel van het Type Picknickset te vinden.<br />
                        Een correlatie van -1 geeft aan dat er een sterk negatief verband is tussen twee type objecten.
                        Dat wil zeggen, hoe meer objecten van het ene type in een gebied te vinden zijn, des te minder
                        zijn er objecten te vinden van het andere type.<br />
                        Een correlatie van 0 geeft aan dat de aanwezigheid van het ene type object geen invloed heeft op
                        de aanwezigheid van het andere type object.">
                    </i>
                    <span class="sort-icon"></span></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}

{% block js %}
    {{ super() }}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/select2.js"></script>
    <script src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="/static/js/inflab.js"></script>
    <script type="text/javascript">
        $(window).ready(function(){
            initAnalysisPage();
        })
    </script>
{% endblock %}