{% extends "base.html" %}

{% block content %}
<div>
    {% if success is defined %}
    {% if success %}
    <div class="alert alert-success fade in">
        <button class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Dataset toegevoegd</h4>
        <p>{{ message }}</p>
    </div>
    {% else %}
    <div class="alert alert-error fade in">
        <button class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Dataset toevoegen mislukt</h4>
        <p>{{ message }}</p>
    </div>
    {% endif %}
    {% endif %}
    <form class="form-horizontal" enctype="multipart/form-data" action="/voeg-dataset-toe" method="post" id="form-data-set-upload">
        <fieldset>
            <legend>Voeg een dataset toe</legend>
            <div class="control-group">
                <label class="control-label" for="data-set-name">Naam dataset</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="data-set-name" name="data-set-name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="shp-file">.shp bestand</label>
                <div class="controls">
                    <input type="file" class="input-file" id="shp-file" name="shp-file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dbf-file">.dbf bestand</label>
                <div class="controls">
                    <input type="file" class="input-file" id="dbf-file" name="dbf-file">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Upload dataset">
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}